{% extends 'home/layout.html' %}
{% block content %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" >
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('home.home')}}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Users</li>
            <li class="breadcrumb-item"><a href="{{url_for('manage_users.manage_users')}}">Manage Users</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit</li>
        </ol>
    </nav>
    <form method="POST" action="" style="margin-top: 30px;">
        {{ form.hidden_tag() }}
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
                {{form.first_name(class='form-control', value=user_to_update.first_name)}}
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-10">
                {{form.last_name(class='form-control', value=user_to_update.last_name)}}
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email Address</label>
            <div class="col-sm-10">
                {{form.email(class='form-control', value=user_to_update.email, readonly=True )}}
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">User Location</label>
            <div class="col-sm-10">
                {{form.user_location(class='form-select', id='location')}}
                {% set selected_location = user_to_update.location %}
                <script>
                    document.getElementById("location").value = "{{ selected_location }}";
                </script>
            </div>
        </div>
        {{form.submit(class='btn btn-sm btn-secondary')}}
    </form>
{% endblock content %}